body{
    background-color: black);
    color: rgb(0, 89, 255);
    font-familly:Arial,sans-serif;
}
header{
    background-color: rgb(0, 0, 247);
    color:#4c6875:
    text-align;feComponentTransferpadding; 30px;
}
h1{
    font-size:36px;
}
h2{
    color: #0c45ff;
}
p{
    font-size:18px;
    line-heigtht:1.6;
}
